* {
  margin: 0;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin: auto;
}
/* <!-- global message  --> */
.global-message {
  background: skyblue;
  height: 2.5rem;
}
.global-message > div {
  display: flex;
  justify-content: space-between;
}
/* <!-- navbar  --> */
header {
  height: 100px;
  background-color: blue;
}
header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  color: white;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul > li {
  list-style-type: none;
  font-size: 1rem;
}
header img {
  height: 3rem;
  width: 3.7rem;
  border-radius: 90%;
}
/* hero */
.hero {
  height: 400px;
  /* background-color: red; */
  background-image: url(./asset/e.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.hero > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.hero .hero-item {
  height: 75px;
  background-color: rgba(128, 126, 126, 0.535);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid;
  gap: 20px;
}
.hero .hero-item > hr {
  width: 100%;
}
.hero .hero-item .hero-description {
  font-size: 20px;
}
.hero .hero-item {
  font-size: 10px;
}
/* <!-- Latest Posts --> */
.latest-post {
  background-color: aqua;
}
.latest-post > div {
  display: flex;
  flex-direction: column;
}
.latest-post main {
  display: flex;
}
.latest-post .articles {
  width: 66%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.latest-post .side-links {
  width: 34%;
  background-color: brown;
}
.artcles article {
  background-color: aqua;
  display: flex;
  gap: 5px;
}
.articles article .summary {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: beige;
}
.articles
  article; /* <!-- Recommendation Destination --> */

/* <!-- Subscribe --> */

/* <!-- footer  --> */
